@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-primary: #4a75ed;
  --color-secondary: #1f2937;
}

.subtext {
  @apply text-gray-500 font-medium mb-5;
}

.section-heading {
  @apply text-4xl font-semibold text-secondary;
}
.active {
  @apply bg-primary text-white;
}
.card-grid {
  @apply grid grid-cols-3 gap-6;
}
